@using InregistrareStudenti.Models
@inject DatabaseContext dbContext

@if (Students is not null || Students.Count != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>No.</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Specialization</th>
                <th>Tax</th>
                <th>Years</th>
                <th>Registration Date</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Students.Count; i++)
            {
                var currentStudent = Students[i];
                var currentSpec = dbContext.Specs.FirstOrDefault(s => s.SpecId == currentStudent.SpecId);
                var currentUser = dbContext.Users.FirstOrDefault(u => u.UserId == currentStudent.UserId);

                <StudentRecord RecordIndex=(i+1)
                               Student="@currentStudent"
                               Spec="@currentSpec"
                               User="@currentUser"
                               StudentDelete="StudentDelete"></StudentRecord>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public List<StudentRegistration> Students { get; set; }

    [Parameter]
    public EventCallback<StudentRegistration> StudentDelete { get; set; }
}

